<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>


  <!-- css for login thats linked externally -->
  <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
  <div class="container">
    <div class="logo">
      <span>Cook</span><span>Book</span>
    </div>
    <div class="subtitle">Share your favorite recipes and discover the joy of cooking together.</div>
    <div class="form">
      <input type="text" placeholder="Email or phone number">
      <input type="password" placeholder="Password">
      <button>Log In</button>
      <div class="links">
        <button class="create-account-btn" onclick="window.location.href='signup';">Create new account</button>
        <a href="#">Forgot password?</a>
      </div>
    </div>
  </div>
</body>
</html>